.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  min-height: 100vh;
  background-image: url('./fantasy-background-red.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-color: #00ff85; */
}

button:hover {
  transform: scale(1.1);
}

.cover-img{
  width: 80%;
  margin-top: 20px;
}

.cover-img-cropped{
  display: none;
}

@media (min-width: 600px) {
  .cover-img{
    width: 80%;
    margin-top: 20px;
    display: none;
  }
  
  .cover-img-cropped{
    width: 80%;
    margin-top: 20px;
    display: block;
    opacity: .96;
  }
}