.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

html {
  min-height: 100vh;
  background-image: url('./fantasy-background-red.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-color: #00ff85; */
}

