.data-value{
  padding:2px;
  padding-left: 10px;
  min-width: 55px;
  overflow: auto;
  /* padding-left: 5px; */
  border-bottom: 1px solid rgba(0,0,0,.5);
  /* border-right: 1px solid rgba(0,0,0,.5); */
}

.data-value.hdr{
  font-weight: bold;
}
