.team-display{
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.pitch {
  display: flex;
  justify-content: center;
  min-width: 80vW;
  height: 500px;
  /* min-height: 500px; */
  background-image: url('./images/pitch.svg');
  background-repeat: no-repeat;
  background-position: center center;
  /* box-shadow: 5px 5px 10px 3px rgba(56,0,60,.9); */
}

.playerRow {
  display: flex;
}